<h1>Register an Account:</h1>
<form>
    <div>
        <label>Email</label>
    </div>
    <div>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Password</label>
    </div>
    <div>
        <input type="text" name="password">
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>