<h1>New Book</h1>

<form method="post" action="/books">
    <div>
        <label>Title</label>
    </div>
    <div>
        <input type="text" name="title" />
    </div>
    <div>
        <label>Published</label>
    </div>
    <div>
        <input type="date" name="published" />
    </div>
    <div>
        <label>Author</label>
    </div>
    <div>
        <select name="author">
            <% for (author of authors) { %>
                <option value="<%= author._id %>"><%= author.name %></option>
            <% } %>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>